@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BourtonDropShadow';
  src: url('/assets/fonts/bourtondropshadow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-bourton: 'BourtonDropShadow', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
