@import "tailwindcss";

@font-face {
  font-family: 'BourtonDropShadow';
  src: url('/assets/fonts/bourtondropshadow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-bourton: "BourtonDropShadow", sans-serif;
  --font-inter: var(--font-inter), sans-serif;
}

:root {
  --background: #373435;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  @apply antialiased;
}
